body{
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
main{
    background-color: white;
    width: 320px;
    padding: 1rem;
    border-radius: 20px;
}
img{
    border-radius: 10px;
    max-width: 100%;
}
h1, p{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    margin: 30px;
    
}
h1{
    color: hsl(218, 44%, 22%);
    font-size: 22px;
}
p{
    font-size: 15px;
    color:  hsl(220, 15%, 55%);
    margin-bottom: 0;
}
footer { 
    font-size: 11px; 
    text-align: center;
    bottom: 0;
    position: fixed;
}
footer a {
    color: hsl(228, 45%, 44%);
}
